<div class="container">
  <div class="row g-4 justify-content-center">
    <div class="col-lg-3">
      <div class="card shadow rounded-top-2">
        <img src="{{url_for('static',filename='images/admin.png')}}" alt="John" style="width:100%">
        <a href="/adminclick" class="d-grid text-decoration-none">
          <button type="button" name="" id="" class="btn btn-dark rounded-0 p-0">
            <div class="fw-bold fs-4"> Admin</div>
          </button>
        </a>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card shadow rounded-top-2">
        <img src="{{url_for('static',filename='images/doctor.png')}}" alt="John" style="width:100%">
        <a href="/doctorclick" class="d-grid text-decoration-none">
          <button type="button" name="" id="" class="btn btn-dark rounded-0 p-0">
            <div class="fw-bold fs-4"> Doctor</div>
          </button>
        </a>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card shadow rounded-top-2">
        <img class="card-img rounded-0" src="{{url_for('static',filename='images/patient.jpg')}}" alt="John">
        <a href="/patientclick" class="d-grid text-decoration-none">
          <button type="button" name="" id="" class="btn btn-dark rounded-0 p-0">
            <div class="fw-bold fs-4"> Patient</div>
          </button>
        </a>
      </div>
    </div>
  </div>

</div>


<!--
  developed By : AI Team
  -->